In [2]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/playground-series-s5e8/sample_submission.csv
/kaggle/input/playground-series-s5e8/train.csv
/kaggle/input/playground-series-s5e8/test.csv

In [3]:

# DATA MANIPULATION
import numpy as np
import pandas as pd
from scipy import stats
from scipy.stats import pearsonr, spearmanr
import math

# MACHINE LEARNING - SCIKIT-LEARN
from sklearn.model_selection import train_test_split, cross_val_score, GridSearchCV, RandomizedSearchCV, StratifiedKFold, KFold
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler, LabelEncoder, OneHotEncoder
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.feature_selection import SelectKBest, chi2, f_classif, RFE, RFECV
from sklearn.decomposition import PCA
from sklearn.ensemble import RandomForestClassifier, RandomForestRegressor, GradientBoostingClassifier, GradientBoostingRegressor
from sklearn.linear_model import LogisticRegression, LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.svm import SVC, SVR
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.naive_bayes import GaussianNB
from sklearn.cluster import KMeans, DBSCAN, AgglomerativeClustering
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, classification_report
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score, roc_auc_score, roc_curve, auc
from sklearn.pipeline import Pipeline

# ADVANCED ML LIBRARIES
import xgboost as xgb
import lightgbm as lgb
from catboost import CatBoostClassifier, CatBoostRegressor

# VISUALIZATION
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
from plotly.subplots import make_subplots
import plotly.offline as pyo

# CONFIGURATION FOR PLOTS
plt.style.use('seaborn-v0_8')
sns.set_palette("husl")
%matplotlib inline

# TEXT PROCESSING (NLP)
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from wordcloud import WordCloud

# DEEP LEARNING 
try:
    import tensorflow as tf
    from tensorflow import keras
    from tensorflow.keras.models import Sequential
    from tensorflow.keras.layers import Dense, Dropout, LSTM, Conv2D, MaxPooling2D, Flatten
    from tensorflow.keras.optimizers import Adam
    from tensorflow.keras.callbacks import EarlyStopping, ReduceLROnPlateau
    print("TensorFlow disponible")
except ImportError:
    print("TensorFlow no disponible en este entorno")


# UTILITIES
import os
import sys
import warnings
import itertools
from datetime import datetime, timedelta
import time
from collections import Counter
import pickle
import joblib

# JUPYTER SPECIFIC
from IPython.display import display, HTML
from tqdm.notebook import tqdm

# SUPPRESS WARNINGS
warnings.filterwarnings('ignore')

# PANDAS CONFIGURATION
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', 100)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

# NUMPY CONFIGURATION
np.random.seed(42)

# PLOTLY CONFIGURATION
pyo.init_notebook_mode(connected=True)

print("✅ Todas las librerías importadas correctamente!")
print(f"📊 Pandas version: {pd.__version__}")
print(f"🔢 NumPy version: {np.__version__}")
print(f"🤖 Scikit-learn version: {__import__('sklearn').__version__}")
print(f"📈 Matplotlib version: {__import__('matplotlib').__version__}")
print(f"🎨 Seaborn version: {sns.__version__}")


def quick_info(df):
    """Información rápida del dataset"""
    print(f"📊 Dataset Shape: {df.shape}")
    print(f"🔢 Columnas numéricas: {df.select_dtypes(include=[np.number]).columns.tolist()}")
    print(f"📝 Columnas categóricas: {df.select_dtypes(include=['object']).columns.tolist()}")
    print(f"❌ Valores nulos por columna:")
    print(df.isnull().sum()[df.isnull().sum() > 0])

2025-08-06 17:55:13.006940: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1754502913.220604      36 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1754502913.285523      36 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered

TensorFlow disponible

✅ Todas las librerías importadas correctamente!
📊 Pandas version: 2.2.3
🔢 NumPy version: 1.26.4
🤖 Scikit-learn version: 1.2.2
📈 Matplotlib version: 3.7.2
🎨 Seaborn version: 0.12.2

In [4]:
#https://www.kaggle.com/competitions/playground-series-s5e8/leaderboard? concurso
train = pd.read_csv("/kaggle/input/playground-series-s5e8/train.csv")
test =  pd.read_csv("/kaggle/input/playground-series-s5e8/test.csv")

https://www.kaggle.com/competitions/playground-series-s5e8/overview

*luego de cargar los datos , verificar si hay datos faltantes y tratar de hacer un randomforest lo mas rapido posible
para ver como viene el modelo y el leaderboard , despues profundizare para entender el dataset y ver como hacer
un feature eng y proceder a futuro

In [5]:
#age      : Age of the client (numeric)
#job      : Type of job (categorical: "admin.", "blue-collar", "entrepreneur", etc.)
#marital  : Marital status (categorical: "married", "single", "divorced")
#education: Level of education (categorical: "primary", "secondary", "tertiary", "unknown")
#default  : Has credit in default? (categorical: "yes", "no")
#balance  : Average yearly balance in euros (numeric)
#housing  : Has a housing loan? (categorical: "yes", "no")
#loan     : Has a personal loan? (categorical: "yes", "no")
#contact  : Type of communication contact (categorical: "unknown", "telephone", "cellular")
#day      : Last contact day of the month (numeric, 1-31)
#month    : Last contact month of the year (categorical: "jan", "feb", "mar", …, "dec")
#duration : Last contact duration in seconds (numeric)
#campaign : Number of contacts performed during this campaign (numeric)
#pdays    : Number of days since the client was last contacted from a previous campaign (numeric; -1 means the client was not previously contacted)
#previous : Number of contacts performed before this campaign (numeric)
#poutcome : Outcome of the previous marketing campaign (categorical: "unknown", "other", "failure", "success")
#y        : The target variable, whether the client subscribed to a term deposit (binary: "yes", "no")

In [6]:
train.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,0,42,technician,married,secondary,no,7,no,no,cellular,25,aug,117,3,-1,0,unknown,0
1,1,38,blue-collar,married,secondary,no,514,no,no,unknown,18,jun,185,1,-1,0,unknown,0
2,2,36,blue-collar,married,secondary,no,602,yes,no,unknown,14,may,111,2,-1,0,unknown,0
3,3,27,student,single,secondary,no,34,yes,no,unknown,28,may,10,2,-1,0,unknown,0
4,4,26,technician,married,secondary,no,889,yes,no,cellular,3,feb,902,1,-1,0,unknown,1

In [7]:
test.head()

,id,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,750000,32,blue-collar,married,secondary,no,1397,yes,no,unknown,21,may,224,1,-1,0,unknown
1,750001,44,management,married,tertiary,no,23,yes,no,cellular,3,apr,586,2,-1,0,unknown
2,750002,36,self-employed,married,primary,no,46,yes,yes,cellular,13,may,111,2,-1,0,unknown
3,750003,58,blue-collar,married,secondary,no,-1380,yes,yes,unknown,29,may,125,1,-1,0,unknown
4,750004,28,technician,single,secondary,no,1950,yes,no,cellular,22,jul,181,1,-1,0,unknown

In [8]:
quick_info(train)

📊 Dataset Shape: (750000, 18)
🔢 Columnas numéricas: ['id', 'age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous', 'y']
📝 Columnas categóricas: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
❌ Valores nulos por columna:
Series([], dtype: int64)

In [9]:
quick_info(test)

📊 Dataset Shape: (250000, 17)
🔢 Columnas numéricas: ['id', 'age', 'balance', 'day', 'duration', 'campaign', 'pdays', 'previous']
📝 Columnas categóricas: ['job', 'marital', 'education', 'default', 'housing', 'loan', 'contact', 'month', 'poutcome']
❌ Valores nulos por columna:
Series([], dtype: int64)

In [25]:
#train["job"].value_counts()       # +12-1 management/blue-collar/technician/admin./services/retired/self-employed/entrepeneur/
                                  #       unemployed/housemaid/student/unknown
#train["marital"].value_counts()   # +3-1  married/single/divorced
#train["education"].value_counts() # +4-1 secondary/tertiary/primary/unknown
#train["default"].value_counts()   # binario reemplazo no = 0 (98.3%), yes  = 1 (1.7%)
#train["housing"].value_counts()   # binario reemplazo no = 0 (45.16%), yes  = 1 (54.83%)
#train["loan"].value_counts()      # binario reemplazo no = 0 (86.03%), yes  = 1 (13.97%)
#train["contact"].value_counts()   # one-hot 2 columnas , cellular/unknown/telephone si ambos son 0 entonces es unknown
#train["month"].value_counts()     # lo primero que pienso es ordinal pero hay mucha dif entre los valores
#                                  # la tasa de conversion de abajo me empuja a que sea one-hot o target encoding
#                                  # dado que mas tarde tmb quiero hacer una NN , hago one-hot y despues pruebo con Target
#month
#may    228411
#aug    128859
#jul    110647
#jun     93670
#nov     66062
#apr     41319
#feb     37611
#jan     18937
#oct      9204
#sep      7409
#mar      5802
#dec      2069
#train["poutcome"].value_counts() # one-hot 3 columnas unknown/failure/succes/other si todos son 0 entonces es unknown

contact
cellular     486655
unknown      231627
telephone     31718
Name: count, dtype: int64

In [23]:
# Calcular tasa de conversión por mes
conversion_by_month = train.groupby('month')['y'].agg(['count', 'sum', 'mean'])
conversion_by_month.columns = ['total_contacts', 'conversions', 'conversion_rate']
conversion_by_month = conversion_by_month.sort_values('conversion_rate', ascending=False)

print(conversion_by_month)

       total_contacts  conversions  conversion_rate
month
mar              5802         3315         0.571355
sep              7409         3962         0.534755
dec              2069         1062         0.513291
oct              9204         4510         0.490004
apr             41319         9737         0.235654
feb             37611         7778         0.206801
jan             18937         2351         0.124148
aug            128859        14453         0.112161
nov             66062         7254         0.109806
jun             93670         9716         0.103726
jul            110647        10052         0.090847
may            228411        16298         0.071354

In [49]:
#pipeline para transformar train y test , para poder trabajar

class BankMarketingPreprocessor:
    def __init__(self):
        self.job_categories = None
        self.fitted = False
    
    def fit_transform(self, train_df):
        """
        Ajusta el preprocessor en los datos de entrenamiento y los transforma
        """
        df = train_df.copy()
        
        # 1. TARGET VARIABLE (ya viene como 0/1, no modificar)
        # df['y'] ya está en formato correcto
        
        # 2. VARIABLES BINARIAS (Label Encoding simple)
        binary_mappings = {
            'default': {'no': 0, 'yes': 1},
            'housing': {'no': 0, 'yes': 1}, 
            'loan': {'no': 0, 'yes': 1}
        }
        
        for col, mapping in binary_mappings.items():
            df[col] = df[col].map(mapping)
        
        # 3. EDUCATION (Ordinal)
        education_mapping = {
            'unknown': 0,
            'primary': 1, 
            'secondary': 2, 
            'tertiary': 3
        }
        df['education'] = df['education'].map(education_mapping)
        
        # 4. ONE-HOT ENCODING
        # Contact (3 categorías -> 2 columnas)
        df['contact_cellular'] = (df['contact'] == 'cellular').astype(int)
        df['contact_telephone'] = (df['contact'] == 'telephone').astype(int)
        # unknown se infiere cuando ambas son 0
        
        # Month (12 categorías -> 11 columnas)
        months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
                 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
        
        for month in months[1:]:  # Omitimos 'jan' como referencia
            df[f'month_{month}'] = (df['month'] == month).astype(int)
        
        # Poutcome (4 categorías -> 3 columnas)
        poutcomes = ['failure', 'other', 'success']  # Omitimos 'unknown' como referencia
        for outcome in poutcomes:
            df[f'poutcome_{outcome}'] = (df['poutcome'] == outcome).astype(int)
        
        # Job (12 categorías -> 11 columnas) - GUARDAR CATEGORÍAS PARA TEST
        self.job_categories = sorted(df['job'].unique())  # Ordenar para consistencia
        reference_job = self.job_categories[0]  # Primera categoría como referencia
        
        for job in self.job_categories:
            if job != reference_job:
                df[f'job_{job}'] = (df['job'] == job).astype(int)
        
        # Marital (3 categorías -> 2 columnas) 
        maritals = ['single', 'divorced']  # Omitimos 'married' como referencia
        for marital in maritals:
            df[f'marital_{marital}'] = (df['marital'] == marital).astype(int)
        
        # 5. MANTENER pdays ORIGINAL
        # No hacer nada con pdays - mantenerlo como está (-1 para no contactados)
        
        # 6. ELIMINAR COLUMNAS ORIGINALES CATEGÓRICAS
        columns_to_drop = ['job', 'marital', 'contact', 'month', 'poutcome']
        df = df.drop(columns=columns_to_drop)
        
        self.fitted = True
        return df
    
    def transform(self, test_df):
        """
        Transforma los datos de test usando los parámetros ajustados en train
        """
        if not self.fitted:
            raise ValueError("El preprocessor debe ser ajustado primero con fit_transform()")
        
        df = test_df.copy()
        
        # 1. VARIABLES BINARIAS (mismas que en train)
        binary_mappings = {
            'default': {'no': 0, 'yes': 1},
            'housing': {'no': 0, 'yes': 1}, 
            'loan': {'no': 0, 'yes': 1}
        }
        
        for col, mapping in binary_mappings.items():
            df[col] = df[col].map(mapping)
        
        # 2. EDUCATION (Ordinal - mismo que en train)
        education_mapping = {
            'unknown': 0,
            'primary': 1, 
            'secondary': 2, 
            'tertiary': 3
        }
        df['education'] = df['education'].map(education_mapping)
        
        # 3. ONE-HOT ENCODING (mismo que en train)
        # Contact
        df['contact_cellular'] = (df['contact'] == 'cellular').astype(int)
        df['contact_telephone'] = (df['contact'] == 'telephone').astype(int)
        
        # Month (mismos meses que en train)
        months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 
                 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
        
        for month in months[1:]:  # Omitimos 'jan' como referencia
            df[f'month_{month}'] = (df['month'] == month).astype(int)
        
        # Poutcome (mismas categorías que en train)
        poutcomes = ['failure', 'other', 'success']  # Omitimos 'unknown' como referencia
        for outcome in poutcomes:
            df[f'poutcome_{outcome}'] = (df['poutcome'] == outcome).astype(int)
        
        # Job (USAR EXACTAMENTE LAS MISMAS CATEGORÍAS QUE EN TRAIN)
        if self.job_categories is None:
            raise ValueError("Las categorías de job no fueron guardadas durante fit_transform()")
        
        reference_job = self.job_categories[0]  # Misma referencia que en train
        
        for job in self.job_categories:
            if job != reference_job:
                df[f'job_{job}'] = (df['job'] == job).astype(int)
        
        # Marital (mismas categorías que en train)
        maritals = ['single', 'divorced']  # Omitimos 'married' como referencia
        for marital in maritals:
            df[f'marital_{marital}'] = (df['marital'] == marital).astype(int)
        
        # 4. MANTENER pdays ORIGINAL
        # No hacer nada con pdays - mantenerlo como está
        
        # 5. ELIMINAR COLUMNAS ORIGINALES CATEGÓRICAS (mismas que en train)
        columns_to_drop = ['job', 'marital', 'contact', 'month', 'poutcome']
        df = df.drop(columns=columns_to_drop)
        
        return df

In [50]:
preprocessor = BankMarketingPreprocessor()
               
X_train_p = preprocessor.fit_transform(train)
X_test_p = preprocessor.transform(test)

y_train_f = X_train_p["y"]
X_train_f = X_train_p.drop("y", axis=1)

print(f"Shape final train: {X_train_f.shape}")
print(f"Shape final test: {X_test_p.shape}")
print(f"Columnas finales: {list(X_train_f.columns)}")
print(f"Columnas finales: {list(X_test_p.columns)}")

Shape final train: (750000, 41)
Shape final test: (250000, 41)
Columnas finales: ['id', 'age', 'education', 'default', 'balance', 'housing', 'loan', 'day', 'duration', 'campaign', 'pdays', 'previous', 'contact_cellular', 'contact_telephone', 'month_feb', 'month_mar', 'month_apr', 'month_may', 'month_jun', 'month_jul', 'month_aug', 'month_sep', 'month_oct', 'month_nov', 'month_dec', 'poutcome_failure', 'poutcome_other', 'poutcome_success', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired', 'job_self-employed', 'job_services', 'job_student', 'job_technician', 'job_unemployed', 'job_unknown', 'marital_single', 'marital_divorced']
Columnas finales: ['id', 'age', 'education', 'default', 'balance', 'housing', 'loan', 'day', 'duration', 'campaign', 'pdays', 'previous', 'contact_cellular', 'contact_telephone', 'month_feb', 'month_mar', 'month_apr', 'month_may', 'month_jun', 'month_jul', 'month_aug', 'month_sep', 'month_oct', 'month_nov', 'month_dec', 'poutcome_failure', 'poutcome_other', 'poutcome_success', 'job_blue-collar', 'job_entrepreneur', 'job_housemaid', 'job_management', 'job_retired', 'job_self-employed', 'job_services', 'job_student', 'job_technician', 'job_unemployed', 'job_unknown', 'marital_single', 'marital_divorced']

In [37]:
X_train_p.head()

,id,age,education,default,balance,housing,loan,day,duration,campaign,pdays,previous,y,contact_cellular,contact_telephone,month_feb,month_mar,month_apr,month_may,month_jun,month_jul,month_aug,month_sep,month_oct,month_nov,month_dec,poutcome_failure,poutcome_other,poutcome_success,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_single,marital_divorced
0,0,42,2,0,7,0,0,25,117,3,-1,0,0,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0
1,1,38,2,0,514,0,0,18,185,1,-1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
2,2,36,2,0,602,1,0,14,111,2,-1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,3,27,2,0,34,1,0,28,10,2,-1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0
4,4,26,2,0,889,1,0,3,902,1,-1,0,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0

In [38]:
X_test_p.head()

,id,age,education,default,balance,housing,loan,day,duration,campaign,pdays,previous,contact_cellular,contact_telephone,month_feb,month_mar,month_apr,month_may,month_jun,month_jul,month_aug,month_sep,month_oct,month_nov,month_dec,poutcome_failure,poutcome_other,poutcome_success,job_blue-collar,job_entrepreneur,job_housemaid,job_management,job_retired,job_self-employed,job_services,job_student,job_technician,job_unemployed,job_unknown,marital_single,marital_divorced
0,750000,32,2,0,1397,1,0,21,224,1,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
1,750001,44,3,0,23,1,0,3,586,2,-1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0
2,750002,36,1,0,46,1,1,13,111,2,-1,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0
3,750003,58,2,0,-1380,1,1,29,125,1,-1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
4,750004,28,2,0,1950,1,0,22,181,1,-1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0

In [52]:
# Guardar IDs antes de eliminar
train_ids = X_train_f['id'].copy()
test_ids = X_test_p['id'].copy()

# Eliminar ID de los datasets
X_train_final = X_train_f.drop('id', axis=1)  # 40 columnas
X_test_final = X_test_p.drop('id', axis=1)    # 40 columnas

print(f"Train shape sin ID: {X_train_final.shape}")
print(f"Test shape sin ID: {X_test_final.shape}")

Train shape sin ID: (750000, 40)
Test shape sin ID: (250000, 40)

In [53]:


param_dist = {
    'n_estimators': [50, 100, 200],    
    'max_depth': [10, 15, 20, None],    
    'min_samples_split': [100, 200, 500],
    'min_samples_leaf': [50, 100, 200],
    'max_features': ['sqrt', 'log2', 0.3],
    'bootstrap': [True, False],
    'criterion': ['gini', 'entropy']
}

# 
rf = RandomForestClassifier(
    random_state=42,
    n_jobs=-1,  # 
    class_weight='balanced'  
)

random_search = RandomizedSearchCV(
    estimator=rf,
    param_distributions=param_dist,
    n_iter=50, 
    cv=3,
    scoring='roc_auc',
    random_state=42,
    n_jobs=-1,
    verbose=2 
)

In [ ]:
%%time
random_search.fit(X_train_final, y_train_f)

print("=== MEJORES PARÁMETROS ===")
print(random_search.best_params_)
print(f"\n=== MEJOR SCORE (AUC) ===")
print(f"CV Score: {random_search.best_score_:.4f}")

# Mejor modelo
best_rf = random_search.best_estimator_

print(f"\n=== FEATURE IMPORTANCE (TOP 10) ===")
feature_importance = pd.DataFrame({
    'feature': X_train_final.columns,
    'importance': best_rf.feature_importances_
}).sort_values('importance', ascending=False)

print(feature_importance.head(10))

# Guardar el mejor modelo
print("\nModelo entrenado y listo para predicciones!")
print(f"Usar: best_rf = random_search.best_estimator_")

Fitting 3 folds for each of 50 candidates, totalling 150 fits

In [ ]:
# Al final, para submission:
#submission = pd.DataFrame({
#    'id': test_ids,
#    'prediction': predictions
#})